<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="/myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">सौभाग्य BangleStore</a>
    </div>
    <div [ngSwitch]="usertype">
    <div class="collapse navbar-collapse" id="myNavbar" *ngSwitchCase="'guest'">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/">Home</a></li>
        <li ><a routerLink="/Design">Variety</a></li>
        <li><a routerLink="/vfeedback">ViewFeedback</a></li>
        <li><a routerLink="/viewregister">ViewRegister</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/Register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a routerLink="/adminlogin"><span class="glyphicon glyphicon-log-in"></span> Admin Login</a></li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" *ngSwitchCase="'user'">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/">Home</a></li>
        <li ><a routerLink="/Design">Variety</a></li>
        <li><a routerLink="/feedback">Feedback</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right"> 
        <li><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
    
    <div class="collapse navbar-collapse" id="myNavbar" *ngSwitchCase="'admin'">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/">Home</a></li>
        <li ><a routerLink="/Design">Variety</a></li>
        <li><a routerLink="/vfeedback">View Feedback</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right"> 
        <li><a (click)="alogout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
    </div>
  </div>
</nav>
